@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --font-body: 'IBM Plex Sans', Verdana, sans-serif;
  --font-headline: 'Fjalla One', Helvetica, sans-serif;
  /* colors */
  --primary-color: #1b1a17;
  --secondary-color: #2ff4b9;
  --tertiary-color: #e6e6ea;
  --dark-grey: #292823;

  /* sizes */
  --font-base: 16px;
  --small-font: 0.8rem;
  --large-font: 1.2rem;
  --border-radius: 0.3rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headline);
}

/* Header styles */
header {
  display: flex;
  flex-direction: row;
  align-items: start;
  text-align: center;
  padding: 0.8rem;
  justify-content: space-between;
  position: relative;
}

.title-header {
  margin: 0;
}

.line-header {
  background: radial-gradient(
    circle at center,
    var(--secondary-color),
    transparent 100%
  );
  height: 1px;
  width: 100%;
  position: absolute;
  top: 85%;
  z-index: -1;
  left: 0;
  right: 0;
}

.links-nav {
  display: none;
  padding: 0;
  list-style: none;
  padding: 0;
}

.links-nav li {
  box-sizing: border-box;
  list-style: none;
  transition: 0.4s;
}

.links-nav li a {
  display: block;
  padding: 1rem 0;
  text-decoration: none;
  color: var(--tertiary-color);
  width: 100%;
  font-size: 1.2rem;
  transition: 0.4s;
}

.open {
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100svh;
  text-align: center;
  background-color: var(--primary-color);
  z-index: 1;
  padding: 40% 0;
}

.open li a {
  color: var(--tertiary-color);
}

.open li:hover a {
  color: var(--secondary-color);
}

.stop-scroll {
  overflow: hidden;
}

/* Hamburger Menu btn */
.menu-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 38px;
  height: 38px;
  transition: 0.2s;
}

.line {
  fill: none;
  stroke: var(--secondary-color);
  stroke-width: 6;
  transition:
    stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

/* footer styles */
.footer-ele {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin: 0;
  background-color: var(--dark-grey);
  padding: 0.8rem;
  justify-content: space-between;
  align-items: center;
}

.footer-ele a {
  text-decoration: none;
  color: var(--tertiary-color);
  margin: 0.2rem 0;
  transition: 0.4s;
}

.footer-ele a:hover {
  color: var(--secondary-color);
}

#logo-foot {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

#logo-foot p {
  font-family: var(--font-headline);
  font-size: larger;
}

.links-foot {
  display: flex;
  flex-direction: column;
  text-align: end;
  justify-content: center;
}
